@model RestaurantDomain.Models.Ingredient

@{
    ViewData["Title"] = "Редагувати інгредієнт";
}

<h1>Редагувати</h1>

<h4>Інгредієнт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" data-val-regex="Назва інгредієнта повинна містити хоча б одну букву." data-val-regex-pattern="^(?=.*[a-zA-Zа-яА-Я]).+$" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightMeasure" class="control-label"></label>
                <input asp-for="WeightMeasure" class="form-control" type="number" step="0.01" data-val-number="Вага повинна бути числом." data-val-range="Вага повинна бути в межах від 0.01 до 10000." data-val-range-min="0.01" data-val-range-max="10000" />
                <span asp-validation-for="WeightMeasure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" type="number" data-val-number="Калорійність повинна бути числом." data-val-range="Калорійність повинна бути в межах від 1 до 10000." data-val-range-min="1" data-val-range-max="10000" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}