@using Microsoft.AspNetCore.Identity
@inject SignInManager<RestaurantDomain.Models.ApplicationUser> SignInManager
@inject UserManager<RestaurantDomain.Models.ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link text-dark btn btn-link" style="border: none; background: none; padding: 0;">
                    Вийти (@UserManager.GetUserName(User))
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
        </li>
    }
</ul>