@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Під час обробки вашого запиту сталася помилка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід у <strong>режим розробки</strong> дозволить відобразити детальнішу інформацію про помилку, що сталася.
</p>
<p>
    <strong>Режим розробки не слід вмикати для розгорнутих додатків.</strong>
    Це може призвести до відображення конфіденційної інформації про винятки кінцевим користувачам.
    Для локального налагодження увімкніть <strong>режим розробки</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    і перезапустіть додаток.
</p>